{% extends "core/base.html" %}
{% load static %}



{% block pricing %}
active 
{% endblock %}

{% block content %}

<div class="mt-1 p-5 text-white rounded" style="background: #114084;text-align: center">
	<div class="container">
	  	<h1>We operate a pay as you go tuition service, below market price</h1>
	  	<p>Our price is set at £40 per hour. This includes checking of homework and marking any tests set by the tutor. There are no strings attached, tuition is charged monthly for however many hours were completed.</p>
	</div>
</div>

<div style="background:#F1F1F1">
	<br>
	<br>
	<div class="container" style="color: black;text-align: center">
		<div class="row">
			<div class="col-12 col-lg-6">
				<h1>How and when do I pay?</h1>
				<br>
				<p>We accept card or paypal payment. An invoice for the number of lessons for that month will be sent via email. We don't do pre-payment, you only pay for lessons that have already happened.</p>
			</div>
			<div class="col-12 col-lg-6">
				<h1>Are there any hidden costs?</h1>
				<br>
				<p>Absolutely none. We only charge for the lessons completed, for no additional cost we check homework, set and mark tests, and grade performance to give informative statistics on progress.</p>
			</div>
		</div>
	</div>
	<br>
	<br>
</div>

<div style="background: #1C1C1C;color:white">
	<br>
	<br>
	<div class="container" style="text-align: center;">
		<h1>Have any more questions?</h1>
		<br>
		<p>Please feel free to get in contact, send an email to maxsmith@arithmeticatuition.com to organise a free consultation call or to ask any question</p>
	</div>
	<br>

	<div class="container">
		<div class="row justify-content-center">
			<br>
			<br>
			<div class="col-12 col-lg-6 mt-1 p-5 text-black rounded" style="background:white;">
				<h3> From A* to U grade we can help. Getting in touch is the fast step back on the right path </h3> 
				<br>
				<h4>Email maxsmith@arithmeticatuition.com and we could be discussing a strategy before the end of the day. </h4>
			</div>

			<div class="col-12 col-lg-6 pl-2" style="text-align:left">
				<br>
				<h5>We don't just teach maths but inspire and build confidence.</h5>
				<br>
				<p>One of the most common reasons for getting tuition is because a student has fell out of touch of a topic and has hence lost confidence in it. We aim to rebuild this, to inspire and get them back on track. If this is the case it is worth getting in contact and we can discuss a potential plan to regain this confidence.
				</p> 
				<br>
				<br>
				<p> 
				We specialise in the unachievable, please don't be afraid to get in contact no matter the time frame or difficulty of the task we will give it our best shot.
				</p>
			</div>
		</div>
	</div>
	<br>
	<br>
</div>
{% endblock %}